.App {
  text-align: center;
  background-color: #edeaea;
  min-height: 80vh;
  margin: 50px;
  border-radius: 30px;
}
@media screen and (max-width:900px) {
  .App{
    border-radius: 0;
    width: 100vw;
    margin: 0;
  }
}
